<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>destinations</title>
</head>
<body
></body>
        {% for locs in loc %}
            <h3>{{locs.location}}</h3>
            <h3>{{locs.location_details}}</h3>
        {% endfor %}

        {%if destination.objects.all %}
        <h3>Hi{{destination.name}}</h3>
        {%endif%}
</body>
</html>